{deps, [
    {time_compat, "0.0.1"},
    {stacktrace_compat, "1.1.1"}
]}.

{erl_opts, [
  debug_info,
  compressed,
  report,
  warn_export_all,
  nowarn_export_vars,
  warn_shadow_vars,
  warn_unused_function,
  warn_obsolete_guard,
  warn_unused_import,
  {parse_transform, stacktrace_transform},
  {platform_define, "^[2-9]", post19}
]}.
